        /* generics
                        ----------------*/
        
        * {
        	box-sizing: border-box;
        }
        
        body {
        	padding: 0;
        	margin: 0;
        }
        
        nav:before, nav:after, article:before, article:after, section:before, section:after {
        	content: "";
        	display: table;
        	clear: both;
        }
        
        nav {
        	position: fixed;
        	z-index: 2;
        	width: 100%;
        	background-color: #6498d4;
        	top: 0;
        	left: 0;
        	height: 120px;
        	box-sizing: border-box;
        	text-align: center;
        	font-family: font-family: 'Bellefair', serif;
        	font-size: 1.1em;
        }
        
        header {
        	width: 100%;
        	background-color: dimgrey;
        	top: 0;
        	left: 0;
        	height: 350px;
        	box-sizing: border-box;
        	padding: 10px;
        	margin-top: 120px;
        	text-align: center;
        }
        
        article {
        	font-family: 'Lemonada', cursive;
        	font-size: 1.4em;
        }
        
        header h1 {
        	margin-top: 125px;
        }
        
        footer h1{
            color: whitesmoke;
            text-align: center;
        }
        
        main {
        	width: 100%;
        	background-color: whitesmoke;
        	padding: 10px;
        }
        
        footer {
        	width: 100%;
        	background-color: #36454f;
        	height: 100px;
        	padding: 10px;
        }
       
        
        .pic-dis-mobile article {
        	border: 1px solid white;
        	background-color: firebrick;
        	height: 200px;
        }
        /* elements
                        ----------------*/
        
        .main-menu li {
        	display: inline-block;
        	margin-right: 15px;
        	margin-left: 10px;
        	padding: 10px 0;
        }
        
        .col-mobile-1 {
        	width: 8.3%;
        }
        
        .col-mobile-2 {
        	width: 16.6%;
        }
        
        .col-mobile-3 {
        	width: 25%;
        }
        
        .col-mobile-4 {
        	width: 33.2%;
        }
        
        .col-mobile-5 {
        	width: 41.5%;
        }
        
        .col-mobile-6 {
        	width: 50%;
        }
        
        .col-mobile-7 {
        	width: 58.3%;
        }
        
        .col-mobile-8 {
        	width: 66.4%;
        }
        
        .col-mobile-9 {
        	width: 75%;
        }
        
        .col-mobile-10 {
        	width: 83%;
        }
        
        .col-mobile-11 {
        	width: 91.3%;
        }
        
        .col-mobile-12 {
        	width: 100%;
        }