[class*="col-"] {
	float: left;
	padding: 1px;
	text-align: center;
	margin: 0;
}

@media all and (min-width: 786px) {
	.pic-dis-tblt article {
		border: 1px solid white;
		background-color: cornflowerblue;
		height: 200px;
	}
	.col-tblt-1 {
		width: 8.3%;
	}
	.col-tblt-2 {
		width: 16.6%;
	}
	.col-tblt-3 {
		width: 25%;
	}
	.col-tblt-4 {
		width: 33.2%;
	}
	.col-tblt-5 {
		width: 41.5%;
	}
	.col-tblt-6 {
		width: 50%;
	}
	.col-tblt-7 {
		width: 58.3%;
	}
	.col-tblt-8 {
		width: 66.4%;
	}
	.col-tblt-9 {
		width: 75%;
	}
	.col-tblt-10 {
		width: 83%;
	}
	.col-tblt-11 {
		width: 91.3%;
	}
	.col-tblt-12 {
		width: 100%;
	}
}

@media all and (min-width: 1366px) {
	.pic-dis-dsk article {
		border: 1px solid white;
		background-color: #4c3976;
		height: 200px;
	}
	.col-dsk-1 {
		width: 8.3%;
	}
	.col-dsk-2 {
		width: 16.6%;
	}
	.col-dsk-3 {
		width: 25%;
	}
	.col-dsk-4 {
		width: 33.2%;
	}
	.col-dsk-5 {
		width: 41.5%;
	}
	.col-dsk-6 {
		width: 50%;
	}
	.col-dsk-7 {
		width: 58.3%;
	}
	.col-dsk-8 {
		width: 66.4%;
	}
	.col-dsk-9 {
		width: 75%;
	}
	.col-dsk-10 {
		width: 83%;
	}
	.col-dsk-11 {
		width: 91.3%;
	}
	.col-dsk-12 {
		width: 100%;
	}
}